body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

a {transition: all 1s ease;}

a:hover, .text1:hover, .text2:hover, .text3:hover, .groceries:hover, .restaurant:hover {
    text-decoration: underline;
    padding: 20px;
    font-size: xx-large;
    opacity: 1;
}

/* Create the overall container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    animation: backgroundi 2s forwards ease-in;
        /* Adjust the background color as needed */
}

/* Style the left side with a sticky title */
.left {
    width: 50%;
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Adjust the background color as needed */
    padding: 20px;
    opacity: 0;
    animation: rise 2s forwards ease-in 2s;
    flex-direction: column;
}

.sticky-title, .sticky-titles {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    font-family: 'Darker Grotesque';
    color: #000000;
}

.sticky-titles {
    font-size: large;
    color: #000000;
    opacity: 0.2;
}

/* Style the right side with a scrolling list */
.right {
    width: 50%;
    padding: 20px;
    height: 100%;
    font-size: x-large;
    font-family: 'Darker Grotesque';
    opacity: 0;
    animation: rise 2s forwards ease-in 2.5s;
}

.scrolling-list {
    height: 100%;
    list-style: none;
    padding: 0;
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.scrolling-list li {
    margin-bottom: 10px;
}

.scrolling-list a {
    text-decoration: none;
    color: #333; /* Adjust the link color as needed */
    font-weight: bold;
}

/* Add hover effect for links if desired */
.scrolling-list a:hover {
    text-decoration: underline;
    text-shadow: #000000;
}

#centered {
    color: #eceff4;
    animation: rise 3s forwards ease;
    height: 100%;
    width: 100%;
    position: fixed;
}

#fade { 
    opacity: 0; 
    height: 100%;
    width: 100%;
    background-color: #eceff4;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: fade 3s forwards ease;
}

#background {
    height: max-content;
    width: max-content;
    display: flex;
    opacity: 0;
}

.restaurant, .groceries, .text1, .text2, .text3 { 
    opacity: 0; 
    transition: all 1s ease;
    animation: rise 3s forwards ease;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#centered, .restaurant, .groceries, .text1, .text2,.text3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-family: 'Darker Grotesque';
    font-size: x-large;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #151515;
}

@keyframes rise {
    from {transform: translateY(10px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

@keyframes fall {
    from {transform: translateY(0px); opacity: 1;}
    to {transform: translateY(-10px); opacity: 0;}
}

@keyframes fade {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeo {from {opacity: 1;} to {opacity: 0;}}

@keyframes backgroundi {from {background-color: #2b3440;} to {background-color: #ffffff;}}